body,
h1,
h2,
h3,
p,
ul,
li,
figure {
	margin: 0;
}
ul {
	list-style: none;
	padding: 0;
}
* {
	box-sizing: border-box;
	font-family: "Arial", Arial, sans-serif;
	line-height: 1.7;
}
html {
	scroll-behavior: smooth; 
}
body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.container {
	max-width: 1440px;
	margin: 0 auto;
}
.nav__container {
	position: absolute;
	left: 70%;
	top: 2%;
}
.nav__item {
	padding: 5px 0;
	font-weight: 700;
}
a {
	text-decoration: none;
}
.nav__a {
	color: #e1e2e1;
	transition: 0.5s;
	line-height: 10px;
}
a:hover{
	color: #2f4858;
}
.portrait {
	height: 560px;
	position: absolute;
	left: 80%;
	top: -15%;
}

.footer__block {
	width: 100px;

	margin: 10px 0;
	align-self: center;
	flex-basis: 250px;
}
.footer__inner {
	display: flex;
	background-color: #7b738a;
	justify-content: space-between;
	text-align: center;
}
.wrapper {
	max-width: 1440px;
	margin: 0 auto;
	background-image: url(./assets/img/top__right.png);
	background-repeat: no-repeat;
	background-position-x: right;
	background-position-y: top;
}
.container {
	background-image: url(./assets/img/bottom__right.png);
	background-repeat: no-repeat;
	background-position-x: right;
	background-position-y: bottom;
}
.column__left {
	width: 80%;
	background-image: url(./assets/img/top__left.png);
	background-repeat: no-repeat;
	background-color: #7b738a;
	padding-top: 250px;
	margin-top: 40px;
	border-radius: 0 120px 0 0;
	position: relative;
}
.column__inner {
	margin: 100px 0 0 50px;
	padding-left: 50px;
	position: relative;
	background: linear-gradient(135deg, transparent 110px, #e1e2e1 0);
	/* background: linear-gradient(45deg, transparent 110px, #e1e2e1 0); */
}
h1 {
	color: #7b738a;
	font-size: 50px;
	text-align: right;
	padding: 50px;
	padding-right: 25%;
	font-size: 50px;
	letter-spacing: 10px;
	font-weight: 700;
}
h3 {
	color: #7b738a;
	text-align: right;
	padding-right: 250px;
	position: relative;
	letter-spacing: 5px;
	font-size: 30px;
}
.h3__box {
	overflow: hidden;
}
.h3__box::before {
	display: block;
	width: 23%;
	content: "";
	position: absolute;
	border-top: 5px solid #7b738a;
	top: 20%;
}
.name__span {
	font-size: 70px;
	font-weight: 900;
}
.document__title__left,
.document__title__right {
	letter-spacing: 5px;
	text-transform: uppercase;
	font-weight: 700;
	padding: 30px 0;
}
.content__left {
	width: 60%;
}
.content__right {
	width: 50%;
	color: #ffffff;
}
.document__title__left {
	color: #7b738a;
}

.h2__box::before {
	display: block;
	width: 67%;
	content: "";
	position: absolute;
	border-top: 2px solid #7b738a;
	top: 60% 40%;
}
.code__example__box::before {
	display: block;
	width: 83%;
	content: "";
	position: absolute;
	border-top: 2px solid #ffffff;
	top: 60% 40%;
}
.contact {
	padding: 50px 0;
}
.content__right {
	position: absolute;
	left: 76%;
	top: 35%;
	background: linear-gradient(135deg, transparent 55px, #7b738a 0);
	padding: 0 50px;
}
section {
	padding-bottom: 30px;
}
.code__box {
	color: #000;
	background-color: #e1e2e1;
}
.courses__item::before,
.languages__item::before,
.skills_item::before {
	background-color: #7b738a;
	width: 9px;
	height: 9px;
	content: "";
	float: left;
	margin: 10px 10px 0 0;
	overflow: hidden;
}
.skills_item::before{
background-color: #ffffff;	
}
.code__example__name__of__task{
	font-weight: 700;
}
